name = "my-iso"
compatibility_date = "2025-12-29"
compatibility_flags = ["nodejs_compat"]

main = ".open-next/worker.js"

assets = { directory = ".open-next/assets", binding = "ASSETS" }

# D1 Database binding
[[d1_databases]]
binding = "DB"
database_name = "my-iso-db"
database_id = "aad00920-a190-4144-b414-c17ff5388755"

# KV Namespace for rate limiting
[[kv_namespaces]]
binding = "RATE_LIMITER"
id = "9de595b0d67f43e18ed13a35ab1bd383"

[observability.logs]
enabled = true
invocation_logs = true
