name = "my-iso"
compatibility_date = "2025-12-29"
compatibility_flags = ["nodejs_compat"]

main = "worker.ts"

assets = { directory = ".open-next/assets", binding = "ASSETS" }

[[durable_objects.bindings]]
name = "CHAT_ROOM"
class_name = "ChatRoom"

[[migrations]]
tag = "v1"
new_classes = ["ChatRoom"]

# D1 Database binding
[[d1_databases]]
binding = "DB"
database_name = "my-iso-db"
database_id = "aad00920-a190-4144-b414-c17ff5388755"

[vars]
NODE_ENV = "production"

[observability.logs]
enabled = true
invocation_logs = true

[env.staging]
name = "my-iso-staging"

[env.staging.vars]
NODE_ENV = "production"

[[env.staging.durable_objects.bindings]]
name = "CHAT_ROOM"
class_name = "ChatRoom"

[[env.staging.migrations]]
tag = "v1"
new_classes = ["ChatRoom"]

[[env.staging.d1_databases]]
binding = "DB"
database_name = "my-iso-db-staging"
database_id = "9074bb91-5827-4b4b-88d1-f7f9eba70146"

[env.staging.observability.logs]
enabled = true
invocation_logs = true
